/* self clear */ .group,.section,section{clear: both;}.group:after,.section:after,section:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* hack ie7 */ *:first-child+html .group,*:first-child+html .section,*:first-child+html section{min-height: 1px;}
/* hack ie6 */ * html .group,* html .section,* html section{height: 1%;}