// Welcome to Simple.

// step 1.
//	setup width first.
//	If no setup, default:
//
// $all-width: 1000px;
// $sidebar-width: 250px;
// $sidebar-location: right;
// $padding: 0px;

$all-width: 500px;
$sidebar-width: 200px;
$sidebar-location: left;
$padding: 10px;

// step 2.
// @import "simple";

@import "simple";

// step 3. (option)
//	display layout.
//	@import "simple/layout";

@import "simple/debug";

.wrapper {
	@include wrapper;
}

#main {
	@include main;
}

#sidebar {
	@include sidebar;
}

#hd {
	padding: $padding;
}

#ft {
	padding: $padding;
}